{{setPageTitle "Wedding"}}
{{setActiveNav "wedding"}}
{{setYUIModule "le-wedding"}}
{{setDescription "The details of Jake & Eric Susy."}}
{{addCSS "/css/details.css"}}
{{addCSS "/css/wedding.css"}}

<img src="/photos/Uncle_Bill.JPG" id="map" alt="Mapbox Outdoors" />

<div class="l-wrap">
    <h1 class="ann">
        <span class="ann-secondary">Wedding</span>
        <span class="ann-primary">September 23, 2017</span>
        <span class="ann-secondary">Glenbrook, Nevada</span>
    </h1>

    <ol class="cal l-contain l-grid">
        {{#day "Friday 22"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}

        {{#day "Saturday 23" primary=true}}
            {{addDayEvent "ceremony"
                start = "4pm"
                desc  = "Commitment Ceremony"}}

            {{addDayEvent "ceremony"
                start = "5pm"
                end   = "10pm"
                desc  = "Reception"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}

        {{#day "Sunday 6"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}
    </ol>

    <div class="l-contain">
        <ul class="travel-nav l-grid">
            <li class="travel-nav-item l-grid-u">
                <a class="button" data-icon="p" href="/logistics/">Get There</a>
            </li>
            <li class="travel-nav-item l-grid-u">
                <a class="button" data-icon="b" href="/logistics/hotels/">Stay There</a>
            </li>
        </ul>
    </div>

    <div class="details l-contain">
        <h2 id="ceremony" class="anchored-header">
            Ceremony &amp; Reception
        </h2>

        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    The wedding ceremony will begin, <em>promptly</em>, on <b>Saturday at 4:00pm</b>. The ceremony and reception will be held at the home of Bill Bliss:
                </p>
            </div>

            <div class="l-grid-u">
                <address class="details-content">
                    <b>'s House</b><br>
                    <a href="https://www.google.com/maps/@39.0938996,-119.9418262,19z">
                       2056 Pray Meadow Rd,<br>
                        Glenbrook, NV 89413
                    </a>
                </address>
            </div>
        </div>
    </div>
</div>
