{{setPageTitle "Wedding"}}
{{setActiveNav "wedding"}}
{{setYUIModule "le-wedding"}}
{{setDescription "The details of Jakusy."}}
{{addCSS "/css/details.css"}}
{{addCSS "/css/wedding.css"}}

<img src="/photos/Uncle_Bill.JPG" id="map" alt="Mapbox Outdoors" />

<div class="l-wrap">
    <h1 class="ann">
        <span class="ann-secondary">Commitment Ceremony</span>
        <span class="ann-primary">September 23, 2017</span>
        <span class="ann-secondary">Glenbrook, Nevada</span>
    </h1>

    <ol class="cal l-contain l-grid">
        {{#day "Friday 22"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}

        {{#day "Saturday 23" primary=true}}
            {{addDayEvent "ceremony"
                start = "4pm"
                desc  = "Commitment Ceremony"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}

        {{#day "Sunday 24"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}
    </ol>

    <div class="l-contain">
        <ul class="travel-nav l-grid">
            <li class="travel-nav-item l-grid-u">
                <a class="button" data-icon="p" href="/logistics/">Get There</a>
            </li>
            <li class="travel-nav-item l-grid-u">
                <a class="button" data-icon="b" href="/logistics/hotels/">Stay There</a>
            </li>
        </ul>
    </div>

    <div class="details l-contain">
        <h2 id="ceremony" class="anchored-header">
            Ceremony &amp; Reception
        </h2>

        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    The wedding ceremony will begin on <b>Saturday at 4:00pm</b>. The ceremony and reception will be held at the home of Bill Bliss:
                </p>
            </div>

            <div class="l-grid-u">
                <address class="details-content">
                    <b>Gram's House</b><br>
                    <a href="https://www.google.com/maps/place/2059+Pray+Meadow+Rd,+Glenbrook,+NV+89413/@39.0918971,-119.9424257,17z/data=!3m1!4b1!4m5!3m4!1s0x80999d12bcf34119:0x6b7fbc2d885a2237!8m2!3d39.091893!4d-119.940237">
                       2059 Pray Meadow Rd,<br>
                        Glenbrook, NV 89413
                    </a>
                </address>
            </div>
        </div>
        <div class="reg l-contain">
            <h2 id="clothing" class="anchored-header">
           Entry info
        </h2>
        
        <p> 
         Glenbrook has a security gate. If someone is in the hut, let them know you're there for the Bliss/Schutte family or Hemphill/Koten wedding. We've given them a list of everyone attending the wedding. If no one is in the hut, use code #8567. You should be able to enter and leave at any time.
         </p>

         <div class="reg l-contain">
            <h2 id="clothing" class="anchored-header">
            Attire
        </h2>

        <p> 
The ceremony and reception are being held outside on the lawn of the Bliss family home in Glenbrook. It is a lovely spot with a view of Lake Tahoe. Think dressy casual and wear flat, comfortable shoes. Also: remember that we’ll be at altitude. So think layers. Our crystal ball anticipates a daytime temperature around 70 degrees with the mercury plunging to 50 as darkness descends and the party swings into gear. 
        </p>

                    
<h2> Nuptial Philosophy </h2>
<p>
This isn't a wedding; it's a commitment ceremony.  Perhaps you wonder why.  Please understand that our decision has nothing to do with our feelings for each other or our plans for the future.  We are just as much in love and devoted to each other as anyone who chooses to tie the knot.  But marriage is problematic as a legal matter for our particular situation given Jake's ALS.  No reason to go into the details, but we've looked into all the angles and have come to the conclusion that being married would actually impose penalties on us and possibly foreclose certain opportunities.  It's obvious this shouldn't be the case, but it is.  (We have a lawyer in the family who can back us up.)  Perhaps one day we will find ourselves in a situation where it would make sense to tie a big beautiful matrimonial bow around our relationship.  If so, we might even have another party!
</p>

        <img src="/photos/2017-07-16.jpg" alt="invitation">
    </div>
    </div>
</div>
